<div class="container">
    <div class="row">
        <div class="col-lg-4 col-12 offset-0 offset-lg-4">
            <img src="../../assets/images/pokebola.png" class="w-50" alt="">
            <div class="cdr-login">
                <h3>Consultar pokedex</h3>

                <form action="">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Usuario">
                    </mat-form-field>

                    <mat-form-field class="w-100">
                        <input matInput type="password" placeholder="Clave">
                    </mat-form-field>
                    <div class="text-right">
                        <button mat-raised-button color="primary">Ingresar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>